body {
	position: fixed;
	margin-left:30vw;
	margin-right:10vw;
	/* an attempt at fixing the space between postit and msgtext */
}
.postit {
	/* the basic post-it shape */
  float: left;
  transform: rotate(-7deg);
  top: 30px;
  margin: 0 auto;
  width: 212px;
  height: 186px;
  padding: 1vw 0vw;
  left: 25vw;
  background: #ecec00;
  box-shadow: 10px 10px 5px grey;
  line-height: 22px;
  font-family: cursive;
  font-size: 33px;
  text-align: right;
  margin-top: 0.8vw;
  
}
.ptext {
/* formatting of text within postit (split because of padding) */
  padding: 15px 35px;
  float: center;
	}
.msgtext {
	/* formatting for message on the right */
	position: relative;
	font-size:80%;
	font-family: Arial, Helvetica, sans-serif;
	width:350px;
	float:right;
	margin-top: 2.2vw;
	margin-left: 5vw;
	text-align: left;
}