body {
	position: fixed;
	left:500px;
	right:400px;
}
.postit {
	/* the basic post-it shape */
  float: left;
  transform: rotate(-7deg);
  top: 30px;
  margin: 0 auto;
  width: 212px;
  height: 186px;
  padding: 21px 11px;
  left: 25px;
  background: #ecec00;
  box-shadow: 10px 10px 5px grey;
  line-height: 22px;
  font-family: cursive;
  font-size: 33px;
  text-align: right;
}
.ptext {
/* formatting of text within postit (split because of padding) */
  padding: 15px 35px;
  float: center;
	}
.msgtext {
	/* formatting for message on the right */
	font-size:16px;
	font-family: Arial, Helvetica, sans-serif;
	width:350px;
	float:right;
	margin-top:50px;
	margin-left: 60px;
	text-align: left;
}